{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <form method="POST" action="" class="border pt-7 nt-3">
                {{ formfaleconosco.csrf_token }}
                <legend>Fale Conosco</legend>
               <fieldset>
                    <div class="form-group">
                        {{ formfaleconosco.nome.label(class="form-control-label") }}
                        {{ formfaleconosco.nome(class="form-control") }}  
                        
                    </div>
                    <div class="form-group"> 
                        {{ formfaleconosco.email.label(class="form-control-label") }}

                        {% if formfaleconosco.email.errors %}
                            {{ formfaleconosco.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for erro in formfaleconosco.email.errors %}
                                {{ erro }}
                            {% endfor %}
                        </div>
                        {% else %}  
                            {{ formfaleconosco.email(class="form-control") }}  
                        {% endif %}

                        
                    </div>
                    <div class="form-group">
                        {{ formfaleconosco.telefone.label(class="form-control-label") }}

                        {% if formfaleconosco.telefone.errors %}
                        {{ formfaleconosco.telefone(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for erro in formfaleconosco.telefone.errors %}
                            {{ erro }}
                        {% endfor %}
                    </div>
                    {% else %}  
                        {{ formfaleconosco.telefone(class="form-control") }}  
                    {% endif %}

                    </div>
                    <div class="form-group">
                        {{ formfaleconosco.assunto.label(class="form-control-label") }}
                        {{ formfaleconosco.assunto(class="form-control") }}
                    </div>
                </fieldset>
                {{ formfaleconosco.botao_submit_contato(class="btn btn-primary mt-3") }}
            </form>
        </div>
    <div class="col-md-6">
        <div class="contact-info border p-5">
            <h4>Contato</h4>
            <p><strong>Telefone:</strong> (61) 92123-5678</p>
            <p><strong>Email:</strong> JAPP@gmail.com</p>
            <h4>Endereço</h4>
            <p>SQS 810 Conjunto O lote 4 a 8</p>
            <p>Asa Sul, Brasília - DF</p>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}